[project]
	description = This tool converts CIDR in IP range and viceversa
[access "refs/*"]
	owner = group user/Simone Cianni (simocn77)
[access "refs/for/refs/*"]
	read = group user/Simone Cianni (simocn77)
	push = group user/Simone Cianni (simocn77)
	label-Code-Review = -2..+2 group user/Simone Cianni (simocn77)
	label-Verified = -1..+1 group user/Simone Cianni (simocn77)
	rebase = group user/Simone Cianni (simocn77)
	removeReviewer = group user/Simone Cianni (simocn77)
	submit = group user/Simone Cianni (simocn77)
[access "refs/heads/*"]
	read = group user/Simone Cianni (simocn77)
	create = group user/Simone Cianni (simocn77)
	push = +force group user/Simone Cianni (simocn77)
	pushMerge = group user/Simone Cianni (simocn77)
[access "refs/tags/*"]
	push = +force group user/Simone Cianni (simocn77)
	pushTag = group user/Simone Cianni (simocn77)
	pushSignedTag = group user/Simone Cianni (simocn77)
